{% extends 'main/base.html' %}

{%block title%}
Album - {{photoalbum}}
{%endblock%}

{% load crispy_forms_tags %}

{% block content %}
<h3>{{photoalbum.title}}</h3>
<div class="mt-3">
    <div class="row album-box">
        {% for photo in photoalbum.photo_set.all %}
            <div class="img-frame">
                <img src="{{photo.img.url}}" class="album-img" value="{{photo.caption}}">
                <div class="caption-effect">
                    <div class="caption">{{photo.caption}}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}