{%extends "main/base.html" %}

{% block title%}Lok's Website - Create New List{% endblock %}

{% block content%}
    <h3>Create Page</h3>
    {% if messages %}
    <div>
        <ul class="alert alert-primary">
            {% for message in messages %}
            <li  class="mt-0 mb-0 ml-2 mr-2"> {{ message }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" action="/create/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit", name="save" class="btn btn-success">
                    Create List
                </button>
            </div>
            {{form.name}}
        </div>
    </form>
    <script>
        function show_alert(){
            alert('{{ message }}');
        }
    </script>
{% endblock %}