{% extends "main/base.html" %}

{%block title%}Lok's Website - View List{%endblock%}

{%block content%}
    <h3>{{ls.name}}</h3>
    {% if messages %}
    <div>
        <ul class="alert alert-primary">
            {% for message in messages %}
            <li  class="mt-0 mb-0 ml-2 mr-2"> {{ message }} </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" action="#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
        <div class="input-group mb-3">
            <input type="text", value="{{item.text}}", name="t{{item.id}}", class="form-control">
            <div class="input-group-append">
                <div class="input-group-text">
                    {% if item.complete == True %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}" checked>
                    {% else %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}">
                    {% endif %}
                </div>
            </div>
            <span class="input-group-append"><button type="submit", name="delete{{item.id}}", value="delete", class="btn btn-danger", aria-label="Close">
                <span aria-hidden="true"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="vertical-align:middle;margin-bottom:2px;">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg></span>
            </button></span>
        </div>
        {% endfor %}
        <div class="input-group mt-1 mb-1">
            <div class="input-group-prepend">
                <button type="submit", name="newItem", value="newItem" class="btn btn-success">Add Item</button>
            </div>
            <input type="text", name="new" class="form-control">
            <button type="submit", name="save", value="save", class="btn btn-primary ml-3">Save</button>
        </div>
    </form>
{%endblock%}