{%extends "main/base.html"%}

{%block title%}Your Albums{%endblock%}

{%block content%}
    <h3>Your Albums: </h3>
    {% if albums %}
        {%for key, value in albums_dict.items %}
            <li><a href="/album/{{ key.id }}">{{key.title}}</a></li>
            {% if value %}
                <div class="img-frame">
                    <img src="{{value.img.url}}" class="album-img" id="img{{photo.id}}">
                    <div class="caption-effect">
                        <div class="caption">{{key.title}}</div>
                    </div>
                </div>
            {% else %}
                <p>This album is empty.</p>
            {% endif %}
        {%endfor%}
    {% else %}
        <p>You don't have any album. You can create one below.</p>
    {% endif %}

    <form method="POST" action="/albums/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
                <button type="submit" class="btn btn-success" name="create">Create Album</button>
            </div>
            {{form.title}}
        </div>
    </form>
{%endblock%}